*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    background: url('/HTML\ _CSS/Black\ and\ Red\ Minimalist\ Modern\ Registration\ Gym\ Website\ Prototype.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: white;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  ul .logo{
    font-size: xx-large;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 70px;
  }
  nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0fc;
  }
  nav li:first-child{
    margin-right: auto;
  }

